@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ChelaOne', system-ui;
  src: url('../fonts/ChelaOne-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@layer base {
  body {
    @apply font-ChelaOne font-normal text-base text-body bg-whiten relative z-1;
  }
}

@layer components {
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
